.thread-title-centered {
  text-align: center;
}

.thread-header {
  margin-left: 5%;
}

.thread-content {
  margin-top: 10px;
  margin-left: 5%;
}

.post-item {
    margin-bottom: 0.5%; 
    list-style-type: none;
  }
  
  .post-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .post-box.hidden-post {
    background-color: #ddd;
  }

  .voting-section {
    display: flex;
    align-items: center;
  }
  
  .add-post-section {
    margin-top: 20px;
    text-align: center;
  }
  
  button.mat-icon-button {
    margin-right: 5px;
  }
  
  button.mat-icon-button.upvote-button {
    color: #666;
  }
  
  button.mat-icon-button.downvote-button {
    color: #666;
  }
  
  button.mat-raised-button.edit-button {
    margin-top: 10px;
  }

  .thread-details > button.mat-raised-button.goBack-button {
    margin-top: 10px;
    margin-left: 5%;
  }
  
  